/Win32
/x64
/.vs
/PDFUCK/x64
/PDFUCK/Win32
/Test/x64
/Test/Win32
/ComparePdf/x64
/PDFender/*.aps
/PDFender/x64
/Run/merge.pdf
/Run/right.pdf
/Run/left.pdf
/Pdf2Text/x64
/Pdf2Image/x64
/Pdf2Image/Win32
/Pdf2Text/Win32
/ComparePdf/Win32
/PDFender/Win32
/PdfMerge/x64
