[submodule "vs_pdfium"]
	path = vs_pdfium
	url = https://github.com/mensong/vs_pdfium.git
[submodule "CtrlScale"]
	path = CtrlScale
	url = https://github.com/mensong/CtrlScale.git
[submodule "pystring"]
	path = pystring
	url = https://github.com/mensong/pystring.git
[submodule "jsoncppx"]
	path = jsoncppx
	url = https://github.com/mensong/jsoncppx.git
